@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
li {
    margin-left: 30px;
}

li:last-child() {
    margin-left: 0px;
}

.head {
    color: red;
    font-weight: bold;
}

nav {
    background-color: darkblue;
    border-radius: 10px;
    font-family: 'Fjalla One', sans-serif;
}

.banner {
    margin: 5px 0px;
    height: 300px;
    border: 0.5px solid blue;
}

.banner > div > div{
    background:red;
    margin: 10px;
    border: 2px solid black;
    border-radius: 999px;
    height: 15px;
    width: 15px;
}
p{
    text-align: justify;
}
